
.navBar {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(rgb(64, 70, 70),rgb(221, 66, 66));
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    height: 12vh;
    width: 100%;
    position: fixed;
    border-style: solid;
    border-width: 7px;
    border-color:rgb(151, 150, 150);

}
/* .navBar button{
    background-color: #403D39;
    width: 75px;
    height: 30px;
    border: none;
} */
.topNavBar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.dash {
    width: 75%;
    display: flex;
    flex-direction: row;
}
.navBtn {
    color: black;
    background-color: transparent;
    border: none;
    
   width: fit-content;
   height: fit-content;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.br {
    width: 10px;
    background-color: black;
}
